{% if ticket %}
Ticket created: {{ ticket.TicketNumber }}   https://ww4.autotask.net/Mvc/ServiceDesk/TicketDetail.mvc?&ticketId={{ ticket.id }}
{% else %}
Sent via Autotask api - ticket creation failed.
{% endif %}
